<!DOCTYPE html>
<html>

<head>
	<title>
		Formularz
	</title>
</head>

<body>
	<form name="form" action="/formdata" method="POST">
		Imię: <br/>
		<input type="text" name="name">
		<br/>
		Nazwisko: <br/>
		<input type="text" name="surname">
		<br/>
		Wiek: <br/>
		<input type="text" name="age">
		<br/>
		<button type="button" type="submit">Wyślij</button>
	</form>
</body>

</html>